.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.ipynb

# Docker
**/postgres_data/
*.log
*.logs
**/postgres_data_airflow/
**/clickhouse_data


# IDE
.vscode/
.idea/
