AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASS=replace_with_a_unique_password
AIRFLOW_EMAIL=admin@example.com
AIRFLOW_FERNET_KEY=generate_with_openssl_rand_base64_32

POSTGRES_AIRFLOW_DB=airflow_db
POSTGRES_AIRFLOW_USER=airflow_app
POSTGRES_AIRFLOW_PASSWORD=replace_with_a_unique_password
POSTGRES_STAR_DB=star_model
POSTGRES_STAR_USER=star_app
POSTGRES_STAR_PASSWORD=replace_with_a_unique_password

POSTGRES_CHINOOK_DB=chinook
POSTGRES_CHINOOK_USER=chinook_app
POSTGRES_CHINOOK_PASSWORD=must_match_stage0_source
